<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.chat_server.mapper.ChatRoomMapper">

    <insert id="insertRoom">
        INSERT INTO chat_room (room_name, updated_at, server_id)
        VALUES (#{roomName}, NOW(), #{serverId})
    </insert>

    <select id="selectLastInsertId" resultType="long">
        SELECT LAST_INSERT_ID()
    </select>

    <select id="selectRoomById" resultType="map">
        SELECT *
        FROM chat_room
        WHERE room_id = #{roomId}
    </select>

</mapper>